.root {
    -fx-background-color: linear-gradient(to bottom, #FFB7C5, #000000);
    -fx-background-radius: 8;
}

.title{
    -fx-font-size: 18px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: bold;
}

.ScrollPane{
    -fx-background-color: transparent;
}

.ScrollPane .viewport{
    -fx-background-color: transparent;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button {
    -fx-opacity: 0;
}

.ScrollPane .thumb{
    -fx-background-color: transparent;
}

.ScrollPane .scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-radius: 8;
}

.ScrollPane .scroll-bar{
    -fx-background-color: transparent;
}


.HomeBTN{
    -fx-background-color: black;
    -fx-background-radius: 8;
    -fx-text-fill: white;
}

.HomeBTN:hover{
    -fx-effect: dropshadow(gaussian, rgba(204,204,204,0.5), 10, 0.5, 0, 3);
}

.CheckOutBTN{
    -fx-background-color: #888888;
    -fx-background-radius: 8;
    -fx-text-fill: white;
}

.HomeBTN:hover{
    -fx-effect: dropshadow(gaussian, rgba(204,204,204,0.5), 10, 0.5, 0, 3);
}

.TotalLabel{
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans";
    -fx-text-fill: White;
}

.PriceLabel{
        -fx-font-size: 12px;
        -fx-font-family: "Open Sans";
        -fx-text-fill: White;
}

