.rootPane {
    -fx-background-color: linear-gradient(to bottom, #000000, #FFB7C5);
    -fx-background-radius: 8;
}

.Btn {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8;
    -fx-font-family: "Open Sans";
}

.Btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 3);
}

.createUserBTN{
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8;
    -fx-font-family: "Open Sans";
}

.createUserBTN:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 3);
}

.TextField{
    -fx-background-radius: 8;
}

.PasswordField {
    -fx-background-radius: 8;
}