.root {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}

.NameLabel {
    -fx-font-family: "Open Sans";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.CategoryLabel {
    -fx-font-family: "Open Sans";
    -fx-font-size: 12px;
}

.PriceLabel {
    -fx-font-family: "Open Sans";
    -fx-font-size: 10px;
}