.root {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}

.NameLabel {
    -fx-font-family: "Open Sans";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #888888;
}

.CategoryLabel {
    -fx-font-family: "Open Sans";
    -fx-font-size: 12px;
    -fx-text-fill: #888888;
}

.PriceLabel {
    -fx-font-family: "Open Sans";
    -fx-font-size: 10px;
    -fx-text-fill: #888888;
}